*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(78, 82, 117);
    
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    text-align: center;
}
h3{
    min-width: 50px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(78, 82, 117);
    /* border: 2px solid aliceblue; */
    border-radius: 10px;
}
#container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
 
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
    /* height: 100px; */
    background-color: rgb(33, 31, 54);
    font-size: 12px;
}
a{
    color: aliceblue;
    width: 100%;
    text-align: center;
}
a:visited{
    color: cadetblue;
}
img{
    
    height: 100%;  
    max-width: 100%;
    border-radius: 5px;
}
.item:hover{
    cursor: pointer;
    animation: buttonAnimation 0.8s ease-in-out;
}
@keyframes buttonAnimation{
    0% {
        transform: scale(1);
    }
    30% {
    transform: scale(0.98);
    }
    60% {
    transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
  }
@media screen and (max-width: 837px) {
    #container {
        grid-template-columns: repeat(4, 1fr);
    }
  }
@media screen and (max-width: 538px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
  } 
  @media screen and (max-width: 388px) {
    #container {
        grid-template-columns: 1fr;
    }
  } 