*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
    background-color: rgb(78, 82, 117);
}
#container{
    width: 98vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.model, .model>a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.new-model{
    order: 0;
}
*{
    margin: 0;
    padding: 0;
}

.chapter{
    max-width: 50px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(78, 82, 117);
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 0px;
}
.delete{
    cursor: pointer;
    color: aliceblue;
    align-self: flex-end;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.model{
    order: 5;
    /* height: 187px; */
    width: calc(25% - 3 * 2px);
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
    background-color: rgb(33, 31, 54);
    font-size: 12px;
    overflow: hidden;
}
.container-image{
    width: 130px;
    height: 55px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 130px auto;
}
a{
    color: aliceblue;
    width: 100%;
    text-align: center;
}
a:visited{
    color: cadetblue;
}
img{ 
    max-width: 130px;
    margin-top: 15px;
    height: 100%;
    border-radius: 5px;
}
.model:hover{
    animation: buttonAnimation 0.8s ease-in-out;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea{
    border-radius: 5px;
    margin: 10px;
    width: 50%;
}
#area-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-true{
    background-color: rgb(206, 243, 199);
}
#btn-false{
    background-color: rgb(209, 162, 162);
}
#otherSaves{
    display: flex;
    flex-direction: column;
}
#otherSaves span {
    margin: 5px;
    padding: 2px 2px 2px 16px;
    border-radius: 4px;
    background-color: rgb(98, 101, 136);
    font-size: 17px;
}

#myInput{

    width: calc(100% - 100px); /* Full-width */
    margin: 10px;
    text-align: center;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: 50px;
    /* margin-bottom: 12px; Add some space below the input */
}
.add-model-input{
    height: 20px;
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 24%;
    margin: 0;
}
input{
    cursor: pointer;
    padding: 5px;
    height: 30px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;

}
#pop-up-container{
    position: absolute;
    top: 0;
    right: 0;
}
.pop-up{
    margin: 5px 15px;
    text-align: center;
    min-width: 200px;
    min-height: 20px;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(83, 109, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: pop-up-animation 1.5s linear 0.5s infinite alternate;

}
#buttons-container input[type='button']{
    background-color: rgb(240, 240, 240);

}
#buttons-container{
    display: flex;
    flex-flow: row wrap;
    margin: 25px 15% 25px 15%;
    padding: 5px;
    justify-content: space-around;
    background-color: rgb(67, 67, 107);
    border-radius: 5px;
}
@keyframes pop-up-animation {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes buttonAnimation{
    0% {
        transform: scale(1);
    }
    30% {
    transform: scale(0.98);
    }
    60% {
    transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
  }
@media screen and (max-width: 837px) {
    .model {
        width: calc(33% - 6px);
    }
  }
@media screen and (max-width: 538px) {
    .model {
        width: calc(50% - 6px);
    }
} 
@media screen and (max-width: 388px) {
    .model {
        width: 100%;
    }
} 