*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
}
#container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.model, .model>a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.new-model{
    order: 0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(78, 82, 117);
    
}
.chapter{
    max-width: 50px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(78, 82, 117);
    border: none;
    border-radius: 10px;
}
.delete{
    cursor: pointer;
    color: aliceblue;
    align-self: flex-end;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.model{
    order: 5;
    width: calc(25% - 3 * 2px);
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
    background-color: rgb(33, 31, 54);
    font-size: 12px;
}
a{
    color: aliceblue;
    width: 100%;
    text-align: center;
}
a:visited{
    color: cadetblue;
}
img{ 
    max-width: 130px;
    margin-top: 15px;
    height: 100%;
    border-radius: 5px;
}
.model:hover{
    animation: buttonAnimation 0.8s ease-in-out;
}


#myInput{

    width: calc(100% - 100px); /* Full-width */
    margin: 10px;
    text-align: center;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: 50px;
    /* margin-bottom: 12px; Add some space below the input */
}
.add-model-input{
    height: 20px;
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 24%;
    margin: 0;
}
input{
    cursor: pointer;
    width: 75px;
    height: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;

}

@keyframes buttonAnimation{
    0% {
        transform: scale(1);
    }
    30% {
    transform: scale(0.98);
    }
    60% {
    transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
  }
@media screen and (max-width: 837px) {
    .model {
        width: calc(33% - 6px);
    }
  }
@media screen and (max-width: 538px) {
    .model {
        width: calc(50% - 6px);
    }
} 
@media screen and (max-width: 388px) {
    .model {
        width: 100%;
    }
} 